@{
    Layout = "_Layout";
}

@model RestaurantsMVC.Models.Review

<h2>Edit</h2>

<h4>Edit this review: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ReviewId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.ReviewText)
    @Html.EditorFor(model => model.ReviewText)

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>